/* 
    Document   : css
    Created on : Nov 8, 2013, 9:18:18 PM
    Author     : a_kanin, @janhito, @ilseferman
    Description:
        Estilos de TutorApp.
*/

/* styles for iconCls */
.x-icon-tickets {
    background-image: url('ext/shared/icons/fam/tickets.png');
}
.x-icon-subscriptions {
    background-image: url('ext/shared/icons/fam/subscriptions.png');
}
.x-icon-users {
    background-image: url('ext/shared/icons/fam/group.png');
}
.x-icon-templates {
    background-image: url('ext/shared/icons/fam/templates.png');
}

h1{
    color: darkorange;
    font-family: arial;    
    text-align: center;    
}
#img-wrapp{
    width: 735px;
    margin: auto;
}
#logopoli{
    
}
#tutorapplogo{
    
}
#unipollo{
    margin:0 0 0 260px;
    width: 300px;
}


